@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: #FFF;
}

header {
    background: #010101;
    padding-top: 3.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    background-color: #161616;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main {
    padding: 0;
}

.logo {
    display: flex;
    color: white;
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    align-items: center;
}

.logo p {
    width: 300px;
}

.links ul {
    display: flex;
    gap: 2.19rem;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.links ul li a {
    color: #FFF;
    text-transform: uppercase;
}

.apresentacao {
    padding: 133px 0 21px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    font-size: 2rem;
}

.apresentacao h1 {
    font-weight: 200;
    text-shadow: 0px 4px 50px rgb(255, 215, 16);
    width: 800px;
}

.apresentacao span {
    color: rgb(161, 137, 0);
    text-shadow: 0px 4px 50px rgba(255, 217, 16, 0.52);
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    padding-top: 15px;
    padding-bottom: 210px;
    justify-content: center;
}

#saibamais {
    cursor: pointer;
    border-radius: 40px;
    background: #D9D9D9;
    width: 272px;
    height: 60px;
    flex-shrink: 0;
    color: #010101;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

#contato {
    cursor: pointer;
    background-color: transparent;
    padding: 0 54px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 3px dashed #D9D9D9;
    color: #D9D9D9;
    text-align: center;
    text-shadow: 0px 4px 17px rgba(125, 125, 125, 0.49);
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
}

section {
    display: flex;
    justify-content: center;
    padding: 150px 0 150px 0;
}

#skills {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 1280;
    flex-wrap: wrap;
}

.card {
    gap: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    padding: 30px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.419);
}

.card p {
    padding: 0 20px;
    text-align: center;
}

.card:hover {
    background-color: #1b1b1b;
}

/* ------------------------------------------- */

hr {
    margin: 0 100px;
}

article {
    padding: 135px 0;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titlehead {
    color: #D9D9D9;
    text-align: center;
    text-shadow: 0px 4px 54px rgba(255, 217, 16, 0.52);
    font-size: 64px;
    font-family: Poppins;
    font-weight: 700;
    padding-bottom: 100px;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    gap: 20px;

}

.projeto {
    padding: 15px 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    overflow: hidden;
}

.projeto img {
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    cursor: pointer;
}

.projeto a {
    width: 100%;
    padding: 12px 0;
    flex-shrink: 0;
    border-radius: 0px 0px 25px 25px;
    background: linear-gradient(180deg, rgba(235, 16, 255, 0.57) 0%, #6D0076 100%);
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    z-index: 1;
    text-align: center;
}

.projeto img:hover {
    filter: brightness(1);
}

.projeto .desktop-img {
    width: 560px;
}

.projeto .mobile-app {
    width: 300px;
}

#contatos ul {
    display: flex;
    flex-direction: row;
    gap: 112px;
}

#contatos ul li {
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

#contatos ul li:hover {
    transform: scale(1.2) rotate(5deg);
    -webkit-transform: scale(1.2) rotate(5deg);
    -moz-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    -o-transform: scale(1.2) rotate(5deg);
}

footer {
    display: flex;
    justify-content: center;
    background-color: #0B0B0B;
    ;
}

footer p {
    padding: 69px;
    text-align: center;
}

/* Making Responsive */

@media (max-width: 576px) {
    header nav .links {
        visibility: hidden;

    }

    header nav {
        align-items: center;
    }

    .apresentacao h1 {
        font-size: 2rem;
        width: 300px;
        font-weight: 400;
        margin-bottom: 50px;
    }

    #contatos ul {
        gap: 30px;
    }

    #contatos ul li a img {
        width: 50px;
    }

    #titlehead {
        font-size: 40px;
    }

    .projeto .desktop-img {
        width: 380px;
    }

    .buttons {
        gap: 30px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .logo p {
        font-size: 30px;
    }

    .apresentacao h1 {
        font-size: 2.8rem;
        width: 600px;
    }

    #contatos ul {
        gap: 50px;

    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .apresentacao h1 {
        font-size: 3.5rem;
        width: 800px;
    }

    #contatos ul {
        gap: 50px;

    }
}